<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>  

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> 

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Let's Travel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/admin">Admin Page</a>
                  </li>
                
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="tel" placeholder="Phone number" aria-label="tel">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Call me</button>
              </form>
              <button class="log-out-btn btn btn-outline-secondary ms-1">log out</button>
            </div>
          </nav>
    </header> 
    <main>
      <div class="container page-wrapper">
          <h1>Admin Page</h1>
          <hr>
          <div class="row">
              <div class="col-12 col-md-3 mb-3 mb-md-0">
                  <div class="card">
                      <div class="card-body">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                              <a class="nav-link active" id="v-pills-articles-tab" data-bs-toggle="pill" href="#v-pills-articles" role="tab" aria-controls="v-pills-articles" aria-selected="true">Home</a>
                              <a class="nav-link" id="v-pills-mails-tab" data-bs-toggle="pill" href="#v-pills-mails" role="tab" aria-controls="v-pills-mails" aria-selected="false">Emails</a>
                              <a class="nav-link" id="v-pills-callback-tab" data-bs-toggle="pill" href="#v-pills-callback" role="tab" aria-controls="v-pills-callback" aria-selected="false">Callback requests</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-9">
                  <div class="card">
                      <div class="card-body">
                          <div class="tab-content" id="v-pills-tabContent">
                              <div class="tab-pane fade show active" id="v-pills-articles" role="tabpanel" aria-labelledby="v-pills-articles-tab">
                                  <button id="addPostBtn" class="btn btn-primary mt-3">Add Post</button>
                                  <div class="articles"></div>
                              </div>
                              <div class="tab-pane fade" id="v-pills-mails" role="tabpanel" aria-labelledby="v-pills-mails-tab">
                                  <table class="table table-striped">
                                      <tbody></tbody>
                                  </table>
                              </div>
                              <div class="tab-pane fade" id="v-pills-callback" role="tabpanel" aria-labelledby="v-pills-callback-tab">hello</div>
                              <div class="tab-pane fade" id="v-pills-create-post" role="tabpanel" aria-labelledby="v-pills-create-post-tab">
                                  <h2>Create Post</h2>
                                  <form class="create-post-form">
                                      <div class="mb-3">
                                          <label for="create-title" class="form-label">Title</label>
                                          <input type="text" class="form-control" id="create-title" placeholder="Title">
                                      </div>
                                      <div class="mb-3">
                                          <label for="create-country" class="form-label">Country</label>
                                          <input type="text" class="form-control" id="create-country" placeholder="Country">
                                      </div>
                                      <div class="mb-3">
                                          <label for="create-image-url" class="form-label">Image URL</label>
                                          <input type="text" class="form-control" id="create-image-url" placeholder="URL">
                                          <p>or</p>
                                          <input type="file" class="form-control" id="create-image-file">
                                      </div>
                                      <div class="mb-3">
                                          <label for="create-text" class="form-label">Text</label>
                                          <textarea class="form-control" id="create-text" rows="5"></textarea>
                                      </div>
                                      <button class="btn btn-primary">Create Post</button>
                                  </form>
                              </div>
                              <div class="tab-pane fade" id="v-pills-update-post" role="tabpanel" aria-labelledby="v-pills-update-post-tab">
                                  <h2>Update Post</h2>
                                  <form class="update-post-form">
                                      <div class="mb-3">
                                          <label for="update-title" class="form-label">Title</label>
                                          <input type="text" class="form-control" id="update-title" placeholder="Title">
                                      </div>
                                      <div class="mb-3">
                                          <label for="update-text" class="form-label">Text</label>
                                          <textarea class="form-control" id="update-text" rows="5"></textarea>
                                      </div>
                                      <button class="btn btn-primary">Update Post</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="/js/posts.js"></script> 
    <script src="js/create-post.js"></script> 
    <script src="js/delete-post.js"></script>
    <script src="js/update-post.js"></script> 
    <script src="js/callback-requests.js"></script> 
    <script src="js/main.js"></script>
</body> 
</html>